# Segmenting and Clustering Neighborhoods in Toronto

# First Part

In [1]:
#downloading all the dependencies needed

import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import json # library to handle JSON files

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library

print('Libraries imported.')

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\claud\anaconda3

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.4                |   py38h32f6830_2         3.1 MB  conda-forge
    geographiclib-1.50         |             py_0          34 KB  conda-forge
    geopy-2.0.0                |     pyh9f0ad1d_0          63 KB  conda-forge
    openssl-1.1.1g             |       he774522_0         5.7 MB  conda-forge
    python_abi-3.8             |           1_cp38           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         8.9 MB

The following NEW packages will be INSTALLED:

  geographiclib      conda-forge/noarch::geographiclib-1.50-py_0
  geopy              conda-forge/noarch::geopy-2.0.0-pyh9f0ad1d_0
  python_abi         conda-forge/win-64::python_abi-3.8-1_cp38

The following packages will be UPDATED:

  conda                       pkgs/main::conda-4.8.3-py38_0 --> conda-forge::conda-4.8.4-py38h32f6830_2

The following packages will be SUPERSEDED by a higher-priority channel:

  openssl                                         pkgs/main --> conda-forge



Downloading and Extracting Packages

openssl-1.1.1g       | 5.7 MB    |            |   0%
openssl-1.1.1g       | 5.7 MB    |            |   0%
openssl-1.1.1g       | 5.7 MB    | 2          |   2%
openssl-1.1.1g       | 5.7 MB    | 4          |   4%
openssl-1.1.1g       | 5.7 MB    | 8          |   9%
openssl-1.1.1g       | 5.7 MB    | #3         |  13%
openssl-1.1.1g       | 5.7 MB    | #8         |  18%
openssl-1.1.1g       | 5.7 MB    | ##2        |  22%
openssl-1.1.1g       | 5.7 MB    | ##5        |  26%
openssl-1.1.1g       | 5.7 MB    | ##8        |  29%
openssl-1.1.1g       | 5.7 MB    | ###1       |  32%
openssl-1.1.1g       | 5.7 MB    | ###7       |  37%
openssl-1.1.1g       | 5.7 MB    | ####3      |  44%
openssl-1.1.1g       | 5.7 MB    | #####2     |  52%
openssl-1.1.1g       | 5.7 MB    | #####9     |  60%
openssl-1.1.1g       | 5.7 MB    | ######8    |  68%
openssl-1.1.1g       | 5.7 MB    | #######5   |  76%
openssl-1.1.1g       | 5.7 MB    | ########2  |  83%
openssl-1.1.1g       | 5.7 MB    | ########9  |  89%
openssl-1.1.1g       | 5.7 MB    | #########5 |  96%
openssl-1.1.1g       | 5.7 MB    | ########## | 100%

geopy-2.0.0          | 63 KB     |            |   0%
geopy-2.0.0          | 63 KB     | ##5        |  25%
geopy-2.0.0          | 63 KB     | ########## | 100%

python_abi-3.8       | 4 KB      |            |   0%
python_abi-3.8       | 4 KB      | ########## | 100%

conda-4.8.4          | 3.1 MB    |            |   0%
conda-4.8.4          | 3.1 MB    |            |   1%
conda-4.8.4          | 3.1 MB    | #5         |  16%
conda-4.8.4          | 3.1 MB    | ##9        |  30%
conda-4.8.4          | 3.1 MB    | ####3      |  43%
conda-4.8.4          | 3.1 MB    | #####2     |  53%
conda-4.8.4          | 3.1 MB    | ######1    |  62%
conda-4.8.4          | 3.1 MB    | #######6   |  76%
conda-4.8.4          | 3.1 MB    | #########1 |  92%
conda-4.8.4          | 3.1 MB    | ########## | 100%

geographiclib-1.50   | 34 KB     |            |   0%
geographiclib-1.50   | 34 KB     | ####7      |  47%
geographiclib-1.50   | 34 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 4.8.3
  latest version: 4.8.4

Please update conda by running

    $ conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\claud\anaconda3

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-4.1.0               |             py_1         614 KB  conda-forge
    branca-0.4.1               |             py_0          26 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         713 KB

The following NEW packages will be INSTALLED:

  altair             conda-forge/noarch::altair-4.1.0-py_1
  branca             conda-forge/noarch::branca-0.4.1-py_0
  folium             conda-forge/noarch::folium-0.5.0-py_0
  vincent            conda-forge/noarch::vincent-0.4.4-py_1



Downloading and Extracting Packages

branca-0.4.1         | 26 KB     |            |   0%
branca-0.4.1         | 26 KB     | ######1    |  62%
branca-0.4.1         | 26 KB     | ########## | 100%
branca-0.4.1         | 26 KB     | ########## | 100%

altair-4.1.0         | 614 KB    |            |   0%
altair-4.1.0         | 614 KB    | 2          |   3%
altair-4.1.0         | 614 KB    | ##         |  21%
altair-4.1.0         | 614 KB    | ####1      |  42%
altair-4.1.0         | 614 KB    | ########3  |  83%
altair-4.1.0         | 614 KB    | ########## | 100%
altair-4.1.0         | 614 KB    | ########## | 100%

folium-0.5.0         | 45 KB     |            |   0%
folium-0.5.0         | 45 KB     | ###5       |  35%
folium-0.5.0         | 45 KB     | ########## | 100%
folium-0.5.0         | 45 KB     | ########## | 100%

vincent-0.4.4        | 28 KB     |            |   0%
vincent-0.4.4        | 28 KB     | #####7     |  58%
vincent-0.4.4        | 28 KB     | ########## | 100%
vincent-0.4.4        | 28 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Libraries imported.

In [2]:
#Using the pandas to extract the table of postal codes of the Wikpedia page.
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df_list = pd.read_html(url) #readind the html file.
df = df_list[0] # defining a dataframe

#Ignoring cells with a borough that is Not assigned.
df = df[df.Borough != 'Not assigned'].reset_index(drop=True)

df = df.rename(columns={"Postcode": "Postcode","Borough":"Borough","Neighbourhood":"Neighborhood"})

#treating the cells that do not have a linked Neighborhood to a Borough.
df["Neighborhood"] = df.apply(lambda row: row.Neighborhood if row.Neighborhood !="Not assigned" else row.Borough, axis=1) 

#gathering the neighborhoods with the same postal code in a Borough.
df = df.groupby(['Postcode', 'Borough'])['Neighborhood'].apply(', '.join).reset_index()
df

,Postcode,Borough,Neighborhood
0,M1B,Scarborough,"Rouge, Malvern"
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
5,M1J,Scarborough,Scarborough Village
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park"
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge"
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West"
9,M1N,Scarborough,"Birch Cliff, Cliffside West"
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ..."
11,M1R,Scarborough,"Maryvale, Wexford"
12,M1S,Scarborough,Agincourt
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter"
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St..."
15,M1W,Scarborough,L'Amoreaux West
16,M1X,Scarborough,Upper Rouge
17,M2H,North York,Hillcrest Village
18,M2J,North York,"Fairview, Henry Farm, Oriole"
19,M2K,North York,Bayview Village
20,M2L,North York,"Silver Hills, York Mills"
21,M2M,North York,"Newtonbrook, Willowdale"
22,M2N,North York,Willowdale South
23,M2P,North York,York Mills West
24,M2R,North York,Willowdale West
25,M3A,North York,Parkwoods
26,M3B,North York,Don Mills North
27,M3C,North York,"Flemingdon Park, Don Mills South"
28,M3H,North York,"Bathurst Manor, Downsview North, Wilson Heights"
29,M3J,North York,"Northwood Park, York University"
...,...,...,...
73,M6C,York,Humewood-Cedarvale
74,M6E,York,Caledonia-Fairbanks
75,M6G,Downtown Toronto,Christie
76,M6H,West Toronto,"Dovercourt Village, Dufferin"
77,M6J,West Toronto,"Little Portugal, Trinity"
78,M6K,West Toronto,"Brockton, Exhibition Place, Parkdale Village"
79,M6L,North York,"Downsview, North Park, Upwood Park"
80,M6M,York,"Del Ray, Keelesdale, Mount Dennis, Silverthorn"
81,M6N,York,"The Junction North, Runnymede"
82,M6P,West Toronto,"High Park, The Junction South"
83,M6R,West Toronto,"Parkdale, Roncesvalles"
84,M6S,West Toronto,"Runnymede, Swansea"
85,M7A,Queen's Park,Queen's Park
86,M7R,Mississauga,Canada Post Gateway Processing Centre
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
88,M8V,Etobicoke,"Humber Bay Shores, Mimico South, New Toronto"
89,M8W,Etobicoke,"Alderwood, Long Branch"
90,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
91,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So..."
92,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."
93,M9A,Etobicoke,Islington Avenue
94,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."
95,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol..."
96,M9L,North York,Humber Summit
97,M9M,North York,"Emery, Humberlea"
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv..."
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
102,M9W,Etobicoke,Northwest

In [2]:
df.shape

NameError: name 'df' is not defined

# Second Part

In [ ]:
#Using the Geocoder package or the csv file to create the new dataframe:
url1 = "https://cocl.us/Geospatial_data"
df_postal = pd.read_csv(url1)
df_postal = df_postal.rename(columns={"Postal Code": "Postcode","Latitude":"Latitude","Longitude":"Longitude"})
df_toronto = pd.merge(df, df_postal, on='Postcode', how='left')
df_toronto

In [5]:
df_toronto.shape

(103, 5)

# Third Part

In [ ]:
#Getting the latitude and longitude values of toronto

address = 'Toronto, CA'

geolocator = Nominatim(user_agent="CA_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

In [ ]:
# create map of Toronto latitude and longitude values
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, neighborhood in zip(df_toronto['Latitude'], df_toronto['Longitude'], df_toronto['Neighborhood']):
    label = '{}'.format(neighborhood)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)  
    
map_toronto

In [8]:
##worrking only with boroughs how contain toronto in name.
df_filtered = df_toronto[df_toronto['Borough'].str.contains("Toronto")]
df_filtered.head(15)

,Postcode,Borough,Neighborhood,Latitude,Longitude
37,M4E,East Toronto,The Beaches,43.676357,-79.293031
41,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
42,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572
43,M4M,East Toronto,Studio District,43.659526,-79.340923
44,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790
45,M4P,Central Toronto,Davisville North,43.712751,-79.390197
46,M4R,Central Toronto,North Toronto West,43.715383,-79.405678
47,M4S,Central Toronto,Davisville,43.704324,-79.388790
48,M4T,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160
49,M4V,Central Toronto,"Deer Park, Forest Hill SE, Rathnelly, South Hi...",43.686412,-79.400049
50,M4W,Downtown Toronto,Rosedale,43.679563,-79.377529
51,M4X,Downtown Toronto,"Cabbagetown, St. James Town",43.667967,-79.367675
52,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
53,M5A,Downtown Toronto,"Harbourfront, Regent Park",43.654260,-79.360636
54,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937

In [9]:
df_filtered.shape

(38, 5)

In [10]:
#Analyzing East Toronto Borough to replicate required analysis
east_toronto = df_filtered[df_filtered['Borough'] == 'East Toronto'].reset_index(drop=True)
east_toronto

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M4E,East Toronto,The Beaches,43.676357,-79.293031
1,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
2,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572
3,M4M,East Toronto,Studio District,43.659526,-79.340923
4,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558

Let's get the geographical coordinates of East Toronto.

In [11]:
address = 'East Toronto, Toronto CA'

geolocator = Nominatim(user_agent="ca_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of East Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of East Toronto are 43.6247901, -79.3934918.

In [45]:
# create map of East Toronto using latitude and longitude values
map_eastToronto = folium.Map(location=[latitude, longitude], zoom_start=11)


# add markers to map
for lat, lng, neighborhood in zip(east_toronto['Latitude'], east_toronto['Longitude'], east_toronto['Neighborhood']):
    label = '{}'.format(neighborhood)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='red',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_eastToronto)
 

map_eastToronto

In [13]:
#Utilizing the Foursquare API to explore the neighborhoods and segment them.

#Define Foursquare Credentials and Version
CLIENT_ID = 'T1F14ZSMPK4DKKGTZASK3MLJU0RMKYNKQXTIYYW3SSTJHY4W' # your Foursquare ID
CLIENT_SECRET = 'EBLGELR3FEVXWRSTVI3EGAFDZFTEY5CG32ARFEIO4V14W1FL' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)
#Let's explore the first neighborhood in our dataframe.
#Get the neighborhood's name.

Your credentails:
CLIENT_ID: T1F14ZSMPK4DKKGTZASK3MLJU0RMKYNKQXTIYYW3SSTJHY4W
CLIENT_SECRET:EBLGELR3FEVXWRSTVI3EGAFDZFTEY5CG32ARFEIO4V14W1FL

In [14]:
east_toronto.loc[0, 'Neighborhood']
#Get the neighborhood's latitude and longitude values.

neighborhood_latitude = east_toronto.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = east_toronto.loc[0, 'Longitude'] # neighborhood longitude value
neighborhood_name = east_toronto.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of The Beaches are 43.67635739999999, -79.2930312.

In [15]:
#Now, let's get the top  venues that are in The Beachs within a radius of 500 meters.
#First, let's create the GET request URL. Name your URL url.

LIMIT = 100
radius = 500
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=T1F14ZSMPK4DKKGTZASK3MLJU0RMKYNKQXTIYYW3SSTJHY4W&client_secret=EBLGELR3FEVXWRSTVI3EGAFDZFTEY5CG32ARFEIO4V14W1FL&v=20180605&ll=43.67635739999999,-79.2930312&radius=500&limit=100'

In [16]:
#Send the GET request and examine the resutls

results = requests.get(url).json()
results

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']
#Now we are ready to clean the json and structure it into a pandas dataframe
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON
# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

,name,categories,lat,lng
0,Glen Manor Ravine,Trail,43.676821,-79.293942
1,The Big Carrot Natural Food Market,Health Food Store,43.678879,-79.297734
2,Grover Pub and Grub,Pub,43.679181,-79.297215
3,Glen Stewart Ravine,Other Great Outdoors,43.676300,-79.294784
4,Upper Beaches,Neighborhood,43.680563,-79.292869

In [17]:
#And how many venues were returned by Foursquare?

print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

5 venues were returned by Foursquare.

In [18]:
# 2. Explore Neighborhoods in East Toronto
#Let's create a function to repeat the same process to all the neighborhoods in East Toronto

def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

eastToronto_venues = getNearbyVenues(names=east_toronto['Neighborhood'],
                                   latitudes=east_toronto['Latitude'],
                                   longitudes=east_toronto['Longitude']
                                  )

The Beaches
The Danforth West, Riverdale
The Beaches West, India Bazaar
Studio District
Business Reply Mail Processing Centre 969 Eastern

In [19]:
#Let's check the size of the resulting dataframe
print(eastToronto_venues.shape)
eastToronto_venues.head()

(124, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,The Beaches,43.676357,-79.293031,Glen Manor Ravine,43.676821,-79.293942,Trail
1,The Beaches,43.676357,-79.293031,The Big Carrot Natural Food Market,43.678879,-79.297734,Health Food Store
2,The Beaches,43.676357,-79.293031,Grover Pub and Grub,43.679181,-79.297215,Pub
3,The Beaches,43.676357,-79.293031,Glen Stewart Ravine,43.676300,-79.294784,Other Great Outdoors
4,The Beaches,43.676357,-79.293031,Upper Beaches,43.680563,-79.292869,Neighborhood

In [20]:
#Let's check how many venues were returned for each neighborhood
eastToronto_venues.groupby('Neighborhood').count()

,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,
Business Reply Mail Processing Centre 969 Eastern,18,18,18,18,18,18
Studio District,38,38,38,38,38,38
The Beaches,5,5,5,5,5,5
"The Beaches West, India Bazaar",21,21,21,21,21,21
"The Danforth West, Riverdale",42,42,42,42,42,42

In [21]:
#Let's find out how many unique categories can be curated from all the returned venues
print('There are {} uniques categories.'.format(len(eastToronto_venues['Venue Category'].unique())))

There are 69 uniques categories.

In [22]:
#3. Analyze Each Neighborhood
# one hot encoding
eastToronto_onehot = pd.get_dummies(eastToronto_venues[['Venue Category']], prefix="", prefix_sep="")
eastToronto_onehot.head(10)

,American Restaurant,Auto Workshop,Bakery,Bank,Bar,Bookstore,Brewery,Bubble Tea Shop,Burger Joint,Burrito Place,...,Skate Park,Smoke Shop,Spa,Sports Bar,Stationery Store,Steakhouse,Sushi Restaurant,Thai Restaurant,Trail,Yoga Studio
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# add neighborhood column back to dataframe
eastToronto_onehot['Neighborhood'] = eastToronto_venues['Neighborhood'] 
eastToronto_onehot.head(5)

,American Restaurant,Auto Workshop,Bakery,Bank,Bar,Bookstore,Brewery,Bubble Tea Shop,Burger Joint,Burrito Place,...,Skate Park,Smoke Shop,Spa,Sports Bar,Stationery Store,Steakhouse,Sushi Restaurant,Thai Restaurant,Trail,Yoga Studio
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
# move neighborhood column to the first column
fixed_columns = [eastToronto_onehot.columns[-19]] + list(eastToronto_onehot.columns[:-19])
eastToronto_onehot = eastToronto_onehot[fixed_columns]

eastToronto_onehot.head()

,Neighborhood,American Restaurant,Auto Workshop,Bakery,Bank,Bar,Bookstore,Brewery,Bubble Tea Shop,Burger Joint,...,Ice Cream Shop,Indian Restaurant,Intersection,Italian Restaurant,Juice Bar,Latin American Restaurant,Light Rail Station,Liquor Store,Middle Eastern Restaurant,Movie Theater
0,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,The Beaches,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
eastToronto_onehot.shape

(124, 51)

In [26]:
#Next, let's group rows by neighborhood and by taking the mean of the frequency of occurrence of each category
eastToronto_grouped = eastToronto_onehot.groupby('Neighborhood').mean().reset_index()
eastToronto_grouped

,Neighborhood,American Restaurant,Auto Workshop,Bakery,Bank,Bar,Bookstore,Brewery,Bubble Tea Shop,Burger Joint,...,Ice Cream Shop,Indian Restaurant,Intersection,Italian Restaurant,Juice Bar,Latin American Restaurant,Light Rail Station,Liquor Store,Middle Eastern Restaurant,Movie Theater
0,Business Reply Mail Processing Centre 969 Eastern,0.000000,0.055556,0.000000,0.000000,0.000000,0.000000,0.055556,0.00000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.055556,0.000000,0.000000,0.000000
1,Studio District,0.052632,0.000000,0.052632,0.026316,0.026316,0.026316,0.026316,0.00000,0.000000,...,0.026316,0.00000,0.000000,0.052632,0.00000,0.026316,0.000000,0.000000,0.026316,0.000000
2,The Beaches,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,"The Beaches West, India Bazaar",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.047619,0.00000,0.047619,...,0.047619,0.00000,0.047619,0.047619,0.00000,0.000000,0.000000,0.047619,0.000000,0.047619
4,"The Danforth West, Riverdale",0.023810,0.000000,0.023810,0.000000,0.000000,0.023810,0.023810,0.02381,0.000000,...,0.071429,0.02381,0.000000,0.071429,0.02381,0.000000,0.000000,0.023810,0.000000,0.000000

In [27]:
eastToronto_grouped.shape

(5, 51)

In [28]:
#Let's print each neighborhood along with the top 5 most common venues
num_top_venues = 5

for hood in eastToronto_grouped['Neighborhood']:
    print("----"+hood+"----")
    temp = eastToronto_grouped[eastToronto_grouped['Neighborhood'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Business Reply Mail Processing Centre 969 Eastern----
                  venue  freq
0  Fast Food Restaurant  0.06
1         Auto Workshop  0.06
2    Light Rail Station  0.06
3        Farmers Market  0.06
4               Brewery  0.06


----Studio District----
                 venue  freq
0                 Café  0.11
1          Coffee Shop  0.08
2   Italian Restaurant  0.05
3  American Restaurant  0.05
4               Bakery  0.05


----The Beaches----
                 venue  freq
0    Health Food Store   0.2
1  American Restaurant   0.0
2                  Gym   0.0
3          Fish Market   0.0
4    Food & Drink Shop   0.0


----The Beaches West, India Bazaar----
                  venue  freq
0  Fast Food Restaurant  0.05
1         Burrito Place  0.05
2          Liquor Store  0.05
3    Italian Restaurant  0.05
4          Intersection  0.05


----The Danforth West, Riverdale----
                    venue  freq
0        Greek Restaurant  0.19
1             Coffee Shop  0.10
2          Ice Cream Shop  0.07
3      Italian Restaurant  0.07
4  Furniture / Home Store  0.05

In [29]:
#Let's put that into a pandas dataframe
#First, let's write a function to sort the venues in descending order.

def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [30]:
#Now let's create the new dataframe and display the top 10 venues for each neighborhood.

num_top_venues = 10
indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighborhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))
        
# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Neighborhood'] = eastToronto_grouped['Neighborhood']

for ind in np.arange(eastToronto_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(eastToronto_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

,Neighborhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Business Reply Mail Processing Centre 969 Eastern,Farmers Market,Brewery,Fast Food Restaurant,Comic Shop,Garden,Garden Center,Burrito Place,Gym / Fitness Center,Butcher,Auto Workshop
1,Studio District,Café,Coffee Shop,American Restaurant,Bakery,Italian Restaurant,Convenience Store,Coworking Space,Comfort Food Restaurant,Diner,Middle Eastern Restaurant
2,The Beaches,Health Food Store,Movie Theater,Café,Coworking Space,Cosmetics Shop,Convenience Store,Comic Shop,Comfort Food Restaurant,Coffee Shop,Clothing Store
3,"The Beaches West, India Bazaar",Movie Theater,Ice Cream Shop,Fast Food Restaurant,Fish & Chips Shop,Food & Drink Shop,Burrito Place,Gym,Brewery,Burger Joint,Intersection
4,"The Danforth West, Riverdale",Greek Restaurant,Coffee Shop,Italian Restaurant,Ice Cream Shop,Furniture / Home Store,American Restaurant,Grocery Store,Cosmetics Shop,Dessert Shop,Diner

In [31]:
#4. Cluster Neighborhoods
#Run k-means to cluster the neighborhood into 3 clusters.

# set number of clusters
kclusters = 3

eastToronto_grouped_clustering = eastToronto_grouped.drop('Neighborhood', 1)

In [32]:
# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(eastToronto_grouped_clustering)

In [33]:
# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:5]

array([0, 1, 2, 0, 1], dtype=int32)

In [34]:
#Let's create a new Dataframe
#that includes the cluster as well as the top 10 venues for each neighborhood.

# add clustering labels
neighborhoods_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

In [35]:
eastToronto_merged = east_toronto

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
eastToronto_merged = eastToronto_merged.join(neighborhoods_venues_sorted.set_index('Neighborhood'), on='Neighborhood')

eastToronto_merged.head() # check the last columns!

,Postcode,Borough,Neighborhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,M4E,East Toronto,The Beaches,43.676357,-79.293031,2,Health Food Store,Movie Theater,Café,Coworking Space,Cosmetics Shop,Convenience Store,Comic Shop,Comfort Food Restaurant,Coffee Shop,Clothing Store
1,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188,1,Greek Restaurant,Coffee Shop,Italian Restaurant,Ice Cream Shop,Furniture / Home Store,American Restaurant,Grocery Store,Cosmetics Shop,Dessert Shop,Diner
2,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572,0,Movie Theater,Ice Cream Shop,Fast Food Restaurant,Fish & Chips Shop,Food & Drink Shop,Burrito Place,Gym,Brewery,Burger Joint,Intersection
3,M4M,East Toronto,Studio District,43.659526,-79.340923,1,Café,Coffee Shop,American Restaurant,Bakery,Italian Restaurant,Convenience Store,Coworking Space,Comfort Food Restaurant,Diner,Middle Eastern Restaurant
4,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.662744,-79.321558,0,Farmers Market,Brewery,Fast Food Restaurant,Comic Shop,Garden,Garden Center,Burrito Place,Gym / Fitness Center,Butcher,Auto Workshop

In [40]:
# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

In [46]:

#Finally, let's visualize the resulting clusters

# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(eastToronto_merged['Latitude'], eastToronto_merged['Longitude'], eastToronto_merged['Neighborhood'], eastToronto_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

In [42]:
#5. Examine Clusters
#Now, you can examine each cluster and determine the discriminating venue categories that distinguish each cluster. Based on the defining categories, you can then assign a name to each cluster. I will leave this exercise to you.

#Cluster 1
eastToronto_merged.loc[eastToronto_merged['Cluster Labels'] == 0, eastToronto_merged.columns[[1] + list(range(5, eastToronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
2,East Toronto,0,Movie Theater,Ice Cream Shop,Fast Food Restaurant,Fish & Chips Shop,Food & Drink Shop,Burrito Place,Gym,Brewery,Burger Joint,Intersection
4,East Toronto,0,Farmers Market,Brewery,Fast Food Restaurant,Comic Shop,Garden,Garden Center,Burrito Place,Gym / Fitness Center,Butcher,Auto Workshop

In [43]:
#Cluster 2
eastToronto_merged.loc[eastToronto_merged['Cluster Labels'] == 1, eastToronto_merged.columns[[1] + list(range(5, eastToronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,East Toronto,1,Greek Restaurant,Coffee Shop,Italian Restaurant,Ice Cream Shop,Furniture / Home Store,American Restaurant,Grocery Store,Cosmetics Shop,Dessert Shop,Diner
3,East Toronto,1,Café,Coffee Shop,American Restaurant,Bakery,Italian Restaurant,Convenience Store,Coworking Space,Comfort Food Restaurant,Diner,Middle Eastern Restaurant

In [44]:
#Cluster 3
eastToronto_merged.loc[eastToronto_merged['Cluster Labels'] == 2, eastToronto_merged.columns[[1] + list(range(5, eastToronto_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,East Toronto,2,Health Food Store,Movie Theater,Café,Coworking Space,Cosmetics Shop,Convenience Store,Comic Shop,Comfort Food Restaurant,Coffee Shop,Clothing Store